<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/87e45f3d63.js"></script>

</head>

<body>
    <div class="container">

        <!--header start-->
        <h1 class="font-weight-bold text-warning font-weight-bold">JINYEONG</h1>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--brand name inside navbar-->
            <a class="navbar-brand mr-3" href="/Byeolchan">Home</a>

            <div class="collapse navbar-collapse row justify-content-between" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <!--Category
                            <li>
                                <a class="nav-item mx-3 text-white text-decoration-none" href="/Byeolchan/">Category</a>
                            </li>-->
                    <li>
                        <a class="nav-item mx-3 text-white text-decoration-none" href="/Byeolchan/notice">Notice </a>
                    </li>
                    <!--
                            <li>
                                <a class="nav-item mx-3 text-white text-decoration-none" href="/Byeolchan/notice">Boards</a>
                            </li>
                            -->
                    <!--FAQ and Contact Info
                            <li>
                            <a class="nav-item mx-3 text-white text-decoration-none" href="#">FAQ</a>
                            </li>
                            <li>
                            <a class="nav-item mx-3 text-white text-decoration-none" href="#">Contact us</a>
                            </li>
                            -->
                </ul>
                <ul class="navbar-nav">
                    <a class="nav-item mx-3 text-white text-decoration-none" href="./Byeolchan/logout">log
                        out</a>
                    <a class="nav-item mx-3 text-white text-decoration-none" href="./Byeolchan/sign_up">Sign
                        up</a>
                    <a class="nav-item mx-3 text-white text-decoration-none" href="#">Sign in</a>
                </ul>
            </div>
        </nav>
        <!--header end-->

        <div class="my-5">
            <h2 class="display-4 mb-4">Notice</h2>
            <table class="table table-bordered table-hover table-sm">
                <thead class="thead-dark">
                    <th class="py-3">#</th>
                    <th class="py-3">Username</th>
                    <th class="py-3">Category</th>
                    <th class="py-3">Title</th>
                    <th class="py-3">Date</th>
                </thead>
                <tbody class="">
                    <tr class="py-3">
                        <th><a href="#" class="text-dark text-decoration-none btn-white">1</a></th>
                        <td><a href="#" class="text-dark text-decoration-none btn-white">Mark</a></td>
                        <td><a href="#" class="text-dark text-decoration-none">Otto</a></td>
                        <td><a href="#" class="text-dark text-decoration-none">@mdo</a></td>
                        <td>2019-07-19</td>
                    </tr>
                    <tr class="">
                        <th><a href="#" class="text-dark text-decoration-none btn-white">2</a></th>
                        <td><a href="#" class="text-dark text-decoration-none btn-white">Jacob</a></td>
                        <td><a href="#" class="text-dark text-decoration-none btn-white">Thornton</a></td>
                        <td><a href="#" class="text-dark text-decoration-none btn-white">@instagram</a></td>
                        <td><a href="#" class="text-dark text-decoration-none btn-white">2019-07-19</a></td>
                    </tr>
                    <tr class="py-3">
                        <th><a href="#" class="text-dark text-decoration-none btn-white">3</a></th>
                        <td><a href="#" class="text-dark text-decoration-none btn-white">Larry</a></td>
                        <td><a href="#" class="text-dark text-decoration-none btn-white">the Bird</a></td>
                        <td><a href="#" class="text-dark text-decoration-none btn-white">@twitter</a></td>
                        <td><a href="#" class="text-dark text-decoration-none btn-white">2019-07-19</a></td>
                    </tr>
                    <tr class="py-3">
                        <th><a href="#" class="text-dark text-decoration-none btn-white">4</a></th>
                        <td><a href="#" class="text-dark text-decoration-none btn-white">Larry</a></td>
                        <td><a href="#" class="text-dark text-decoration-none btn-white">the Bird</a></td>
                        <td><a href="#" class="text-dark text-decoration-none btn-white">@twitter</a></td>
                        <td><a href="#" class="text-dark text-decoration-none btn-white">2019-07-19</a></td>
                    </tr>
                    <tr class="py-3">
                        <th><a href="#" class="text-dark text-decoration-none btn-white">5</a></th>
                        <td><a href="#" class="text-dark text-decoration-none btn-white">Larry</a></td>
                        <td><a href="#" class="text-dark text-decoration-none btn-white">the Bird</a></td>
                        <td><a href="#" class="text-dark text-decoration-none btn-white">@twitter</a></td>
                        <td><a href="#" class="text-dark text-decoration-none btn-white">2019-07-19</a></td>
                    </tr>
                </tbody>
                <caption>List of users</caption>
            </table>
        </div>

    </div>

    <table>

    </table>
    </div>
</body>