<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/87e45f3d63.js"></script>

</head>

<body>
    <div class="container">

        <!--header start-->
        <h1 class="font-weight-bold text-warning font-weight-bold">JINYEONG</h1>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--brand name inside navbar-->
            <a class="navbar-brand mr-3" href="./Byeolchan/views/main.html">Home</a>

            <div class="collapse navbar-collapse row justify-content-between" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-item mx-3 text-white" href="#">Category</a>
                    </li>
                    <li>
                        <a class="nav-item mx-3 text-white" href="#">Notice</a>
                    </li>
                    <li>
                        <a class="nav-item mx-3 text-white" href="#">Boards</a>
                    </li>
                    <a class="nav-item mx-3 text-white" href="#">FAQ</a>
                    <a class="nav-item mx-3 text-white" href="#">Contact us</a>
                </ul>
                <ul class="navbar-nav">
                    <a class="nav-item mx-3 text-white" href="#">Sign up</a>
                    <a class="nav-item mx-3 text-white" href="#">Sign in</a>
                </ul>
            </div>
        </nav>

        <div class="display-4 text-center my-5">Sign up</div>
        <div class="my-5 row justify-content-center">
            <form action="#">

                <div class="form-group form-inline">

                    <label class="mr-3">First name:</label>
                    <input type="text" class="mr-3 name=" first_name">
                    <label class="mr-3">Last name:</label>
                    <input type="text" name="last_name">
                </div>



                <div class="form-group form-inline">
                    <label class="mr-3">E-mail address:</label>
                    <input type="email" name="email">
                </div>
                <div class="form-group form-inline">
                    <label class="mr-3">Birth info:</label>
                    <input type="date" class="form-control" name="birth_info">
                </div>
                <div class="form-group form-inline">
                    <label class="mr-3">Gender:</label>
                    <select class="form-control">
                        <option>Male</option>
                        <option>Female</option>
                        <option>Others</option>
                    </select>
                </div>
                <div class="my-5">
                    <div class="form-group form-inline">
                        <label class="mr-3">Username:</label>
                        <input type="text" class="form-control col" name="user_name">
                    </div>
                    <div class="form-group form-inline">
                        <label class="mr-3">Password:</label>
                        <input type="password" class="form-control col" name="user_password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-check mb-0">
                        <label class="mr-4">I've read all the terms of
                            service and agree with
                            that.
                        </label>
                        <input type="checkbox" class="form-check-input" name="option1">
                    </div>
                    <div class="form-check mt-0">
                        <label class="mr-4">I'd like to receive emails for news and
                            advertisements.
                        </label>
                        <input type="checkbox" class="form-check-input" name="option2">
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-center">Submit
                    </button>
            </form>
        </div>
    </div>
</body>

</html>